.benefits {
    display: flex;
    flex-direction: column;
    align-items:normal;
    background: linear-gradient(0deg, #1a1826, #413b5e);
    padding-bottom: 100px;
  }

  .benefitTitle {
    font-size: 0.8em;
    font-weight: 400;
    color: #8e8a8a;
  }