.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4a4564;
}

.navOpen {
    display: flex;
    position: absolute; /*controlamos que el desplegable pinte de ese color toda la pantalla*/
    height: 100%;
    width: 100%;
    background-color: #4a4564;
    flex-direction: column;
    align-items: center;
    
}

.navLink {
    display: flex;
    font-size: 2em; /*aqui ponemos el tamaño del texto dentro del desplegable*/
    font-weight: 400;
    color: #f1f1f1;
    padding-top: 90px; /*para que queden mas separados*/
}

.navLink:hover {
    cursor: pointer; /*aqui elegimos el tipo de cursor*/
}

/*.border{
    display: flex;
    height: 1px;
    animation-name: animacionborde;
    animation-duration: 1s;
    background-color: rgb(57, 145, 115);
}*/

@keyframes animacionborder {
    0%{
        height: 0px;
    }
    100%{
        height: 1px;
    }
}

.logo {
    display: flex;
    color: #f1f1f1;
    font-weight: 600;
}

@media (min-width : 800px){
    .logo{
        font-size: 1.5em;
    }
    .navBar {
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
        height: 50px;
    }
    .linksContainer{
        display: flex;
        width: 50%;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .navLink{
        padding-top: 4px;
        font-size: 1.4em;
        font-weight: 600;
    }
    .navLink:hover {
        font-size: 1.5em;
    }
}



